@import 'tailwindcss';

:root {
  --background: oklch(0.9903 0.0053 197.0711);
  --foreground: oklch(0.1567 0.0267 194.7689);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1567 0.0267 194.7689);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1567 0.0267 194.7689);
  --primary: oklch(0.3359 0.0575 193.0136);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9499 0.02 193.0003);
  --secondary-foreground: oklch(0.3359 0.0575 193.0136);
  --muted: oklch(0.9604 0.0096 196.9971);
  --muted-foreground: oklch(0.5009 0.0401 193.6899);
  --accent: oklch(0.9306 0.0305 191.5749);
  --accent-foreground: oklch(0.3359 0.0575 193.0136);
  --destructive: oklch(0.5792 0.2001 25.0129);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.88 0.0204 192.9592);
  --input: oklch(0.8208 0.0302 191.3074);
  --ring: oklch(0.3359 0.0575 193.0136);
  --chart-1: oklch(0.3359 0.0575 193.0136);
  --chart-2: oklch(0.5492 0.1192 160.3017);
  --chart-3: oklch(0.4498 0.1005 240.3577);
  --chart-4: oklch(0.653 0.1347 81.5805);
  --chart-5: oklch(0.5 0.1201 299.669);
  --sidebar: oklch(0.9843 0.0053 197.0705);
  --sidebar-foreground: oklch(0.2515 0.0405 192.218);
  --sidebar-primary: oklch(0.3359 0.0575 193.0136);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9499 0.02 193.0003);
  --sidebar-accent-foreground: oklch(0.2515 0.0405 192.218);
  --sidebar-border: oklch(0.8994 0.0192 196.8162);
  --sidebar-ring: oklch(0.3359 0.0575 193.0136);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.126 0.0219 188.2745);
  --foreground: oklch(0.9804 0.0106 189.8291);
  --card: oklch(0.1567 0.0267 194.7689);
  --card-foreground: oklch(0.9804 0.0106 189.8291);
  --popover: oklch(0.1567 0.0267 194.7689);
  --popover-foreground: oklch(0.9804 0.0106 189.8291);
  --primary: oklch(0.6087 0.1042 193.0987);
  --primary-foreground: oklch(0.126 0.0219 188.2745);
  --secondary: oklch(0.2205 0.0376 194.7689);
  --secondary-foreground: oklch(0.9804 0.0106 189.8291);
  --muted: oklch(0.1992 0.0298 195.0246);
  --muted-foreground: oklch(0.7005 0.0404 192.1597);
  --accent: oklch(0.2205 0.0376 194.7689);
  --accent-foreground: oklch(0.9804 0.0106 189.8291);
  --destructive: oklch(0.4499 0.15 24.7817);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2205 0.0376 194.7689);
  --input: oklch(0.2515 0.0405 192.218);
  --ring: oklch(0.6087 0.1042 193.0987);
  --chart-1: oklch(0.6087 0.1042 193.0987);
  --chart-2: oklch(0.6511 0.1478 159.7983);
  --chart-3: oklch(0.6045 0.1448 242.4952);
  --chart-4: oklch(0.704 0.1468 77.9512);
  --chart-5: oklch(0.6499 0.15 300.076);
  --sidebar: oklch(0.104 0.0178 194.7689);
  --sidebar-foreground: oklch(0.9804 0.0106 189.8291);
  --sidebar-primary: oklch(0.6087 0.1042 193.0987);
  --sidebar-primary-foreground: oklch(0.126 0.0219 188.2745);
  --sidebar-accent: oklch(0.1848 0.0318 191.0821);
  --sidebar-accent-foreground: oklch(0.9804 0.0106 189.8291);
  --sidebar-border: oklch(0.2205 0.0376 194.7689);
  --sidebar-ring: oklch(0.6087 0.1042 193.0987);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
